!!!
%head
  %link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Neucha&subset=latin", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheet.css", :rel => "stylesheet", :type => "text/css"}
  %a{:href => "http://github.com/wedtm/IMD"}
    %img{:alt => "Fork me on GitHub", :src => "https://d3nwyuy0nl342s.cloudfront.net/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", :style => "position: absolute; top: 0; right: 0; border: 0;"}/
  %title
    Is Minecraft Down?

%body
  #header
    %h1
      Is Minecraft Down?
  #content
    = yield
  
  #footer
    %span
      Made by WedTM so people would stop bitching in #minecraft.
  