!!!
%head
  %link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "http://fonts.googleapis.com/css?family=Neucha&subset=latin", :rel => "stylesheet", :type => "text/css"}
  %link{:href => "/stylesheet.css", :rel => "stylesheet", :type => "text/css"}

%body
  #header
    %h1
      Is Minecraft Down?
  #content
    = yield
  
  #footer
    %span
      Made by WedTM so people would stop bitching in #minecraft.
  